<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
  <nav class="mdl-cell mdl-cell--12-col">
		<ol class="cd-breadcrumb triangle">
			<li class="current"><a>File Upload</a></li>
			<li class="current"><a>Content Selector</a></li>
			<li><a>Create Template</a></li>
		</ol>
	</nav>
<div class="mdl-cell"><h3 class="mdl-layout-title">Content Selector</h3></div>
<div class="mdl-cell mdl-cell--12-col">
  <form action="#" id="fileUploadFrm">
    <div class="mdl-card__actions mdl-card--border">
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" (click)="contentSelected()">Next</button>
  </div>
  </form>

</div>
</div>