<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
<nav class="mdl-cell mdl-cell--12-col">
		<ol class="cd-breadcrumb triangle">
			<li class="current"><a>File Upload</a></li>
			<li><a>Content Selector</a></li>
			<li><a>Create Template</a></li>
		</ol>
	</nav>
<div class="mdl-cell mdl-cell--12-col"><h3 class="mdl-layout-title">File Upload</h3></div>

<div class="mdl-cell mdl-cell--12-col">
<form action="#" id="fileUploadFrm">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col ">
        <input class="mdl-textfield__input" type="text" id="templateName">
        <label class="mdl-textfield__label" for="templateName">Template Name</label>
    </div>
  <div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col ">
        <input class="mdl-textfield__input" type="text" id="file1Name">
        <label class="mdl-textfield__label" for="file1Name">File 1</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
      <input class="mdl-textfield__input" type="file" id="file1">
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col ">
        <input class="mdl-textfield__input" type="text" id="file2Name">
        <label class="mdl-textfield__label" for="file2Name">File 2</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
      <input class="mdl-textfield__input" type="file" id="file2">
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col ">
        <input class="mdl-textfield__input" type="text" id="file3Name">
        <label class="mdl-textfield__label" for="file3Name">File 3</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
      <input class="mdl-textfield__input" type="file" id="file3">
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col ">
        <input class="mdl-textfield__input" type="text" id="file4Name">
        <label class="mdl-textfield__label" for="file4Name">File 4</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
      <input class="mdl-textfield__input" type="file" id="file4">
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col ">
        <input class="mdl-textfield__input" type="text" id="file5Name">
        <label class="mdl-textfield__label" for="file5Name">File 5</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
      <input class="mdl-textfield__input" type="file" id="file5">
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col ">
        <input class="mdl-textfield__input" type="text" id="file6Name">
        <label class="mdl-textfield__label" for="file6Name">File 6</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
      <input class="mdl-textfield__input" type="file" id="file6">
    </div>
  </div>
    <div class="mdl-cell mdl-cell--6-col">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col ">
        <input class="mdl-textfield__input" type="text" id="file7Name">
        <label class="mdl-textfield__label" for="file5Name">File 7</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
      <input class="mdl-textfield__input" type="file" id="file7">
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col ">
        <input class="mdl-textfield__input" type="text" id="file8Name">
        <label class="mdl-textfield__label" for="file8Name">File 8</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
      <input class="mdl-textfield__input" type="file" id="file8">
    </div>
  </div>
    <div class="mdl-cell mdl-cell--6-col">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col ">
        <input class="mdl-textfield__input" type="text" id="file9Name">
        <label class="mdl-textfield__label" for="file9Name">File 9</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
      <input class="mdl-textfield__input" type="file" id="file9">
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col ">
        <input class="mdl-textfield__input" type="text" id="file10Name">
        <label class="mdl-textfield__label" for="file6Name">File 10</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
      <input class="mdl-textfield__input" type="file" id="file10">
    </div>
  </div>
</div>
	<div class="mdl-card__actions mdl-card--border">
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" (click)="fileUpload()">Next</button>
  </div>
</form>
</div>
</div>
